@{
  Layout = "_Layout";
}
<div class="row">
  <div class="col-md-6 offset-md-3 text-center">
    <img src="https://img.icons8.com/ios-filled/250/000000/star-wars.png"/>
    <h1 class="text-center">Welcome to the Recipe Book!</h1>
  </div>
</div>
<p>@Html.ActionLink("See all Recipes", "Index", "Recipes")</p>
<p>@Html.ActionLink("See all Tags", "Index", "Tags")</p>
<p>@Html.ActionLink("Create an account", "Register", "Account")</p>