@{
  Layout = "_Layout";
}
<h1>Create</h1>
@* @model RecipeBookdelelRecipeBook.ModTagsItem

<h4>Add a new task</h4>

@using (Html.BeginForm())
{
    
    @Html.TextBoxFor(model => model.Name)

    @Html.Label("Select ????")
    @Html.DropDownList("CategoryId")

    <input type="submit" value="Add new item" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all items", "Index")</p> *@