@{
  Layout = "_Layout";
}

@using RecipeBook.Models;
@model IEnumerable<RecipeBook.Models.Tag>;

<h1>Tags for @User.Identity.Name</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Tag tag in Model)
    {
      <li>@Html.ActionLink($"{tag.Name}", "Details", new { id = tag.TagId })</li>
    }
  </ul>
} 
else
{
  <h3>No Tags have been added yet!</h3>
}

<p>@Html.ActionLink("Add new Tag", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>