@{
  Layout = "_Layout";
}

@using RecipeBook.Models;
@model IEnumerable<RecipeBook.Models.Tag>;

<div class="row">
  <div class="col-md-6 offset-md-3">

    <h1 class="text-center">Tags for @User.Identity.Name</h1>

    @if (Model.Any())
    {
      <div class="list-group" id="list-tab" role="tablist">
        @foreach (Tag tag in Model)
        {
          <div class="list-group-item list-group-item-action">
            @Html.ActionLink($"{tag.Name}", "Details", new { id = tag.TagId })
          </div>
        }
      </div>
    } 
    else
    {
      <h3>No Tags have been added yet!</h3>
    }

    <p>@Html.ActionLink("Add new Tag", "Create", null, null, new {@class="btn btn-info"})
    @Html.ActionLink("Home", "Index", "Home", null, new {@class="btn btn-success"})</p>
  </div>
</div>